@import "globals";
@import "variables";

body {
    font-family: 'Poppins';
    font-size: $font-size;
    padding: 5rem 2rem;
    background-color: $clr-very-light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

    .header-title {
        font-size: 2.3em;
        font-weight: $extra-light-weight;
        color: $clr-very-dark-blue;
    }

    .header-subtitle {
        font-size: 2.3em;
        font-weight: $semibold-weight;
        color: $clr-very-dark-blue;
    }

    .header-description {
        margin-top: .7em;
        font-weight: $regular-weight;
        color: $clr-grayish-blue;
    }
}

.cards {
    display: grid;
    margin-top: 4rem;

    .card {
        padding: 1.7em 2em;
        border-radius: 2%;
        box-shadow: 0 1rem 2rem .5rem #dedede;
    }

    .card-supervisor {
        border-top: 4px solid $clr-cyan;
    }

    .card-team-builder {
        border-top: 4px solid $clr-red;
    }

    .card-karma {
        border-top: 4px solid $clr-orange;
    }

    .card-calculator {
        border-top: 4px solid $clr-blue;
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: $semibold-weight;
        color: $clr-very-dark-blue;
    }

    .card-description {
        font-size: .8rem;
        font-weight: $regular-weight;
        color: $clr-grayish-blue;
        margin-top: .2rem;
        line-height: 1.3rem;
    }

    .card-image {
        margin-top: 4.5rem;
        text-align: end;
    }
}

@media screen and (min-width: $mobile-screen) and (max-width: calc($desktop-screen - 1px)) {
    .cards {
        grid-template: 1fr 4fr;
        row-gap: 1.5rem;
        max-width: 320px;
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: $desktop-screen) {
    
    header {
        max-width: 38%;
        .header-title {
            font-size: 2.2rem;
        }

        .header-subtitle {
            font-size: 2.2rem;
        }
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            'start mid1 end' 
            'start mid2 end';
        gap: 2rem;

        .card-supervisor {
            grid-area: start;
            align-self: center;
            max-width: 400px;
        }

        .card-team-builder {
            grid-area: mid1;
            max-width: 400px;
        }

        .card-karma {
            grid-area: mid2;
            max-width: 400px;
        }

        .card-calculator {
            grid-area: end;
            align-self: center;
            max-width: 400px;
        }
    }
}

footer {
    margin-top: 1rem;
}